<div class="main-content">
  <div class="content">
    <form style="width: 40%; margin-right: 1%;">
      <div class="content-form">
        <div class="form-item">
          <label for="">CPF USUARIO</label>
          <input type="text" id="" name="" required />
        </div>
        
        <div class="form-item">
          <label for="">CPF INSTRUTOR</label>
          <input type="text" id="" name="" required />
        </div>
        
        <div class="form-item">
        <label for="">Data</label>
        <input type="date" id="" name="" required />
      </div>
  
      <div class="form-item">
        <label for="">Data</label>
        <input type="time" id="" name="" required />
      </div>
      <div class="form-item">
        <button class="btn-filter">
          Verificar
        </button>
      </div>
    </div>
    </form>
    <div class="schedule">
      <form style="width: 100%;">
        <table id="customers">
          <tr>
            <th>Aluno</th>
            <th>CPF</th>
            <th>Instrutor</th>
            <th>Carro</th>
            <th>Data</th>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
          <tr>
            <td>Luiz Felipe</td>
            <td>138.306.326-57</td>
            <td>Helvis</td>
            <td>QUX-0709</td>
            <td>30-07-1999</td>
          </tr>
        </table>
        <div class="paginator">
          <div class="pagination">
            <div>
              <span
                >Total: <b> 0 </b>
              </span>
              <span
                >Paginas: <b> 0 </b>
              </span>
            </div>
            <div class="buttons">
              <button
                class="btn-pagination"
              >
                <
              </button>
              {{ 0 }}
              <button
                class="btn-pagination">
                >
              </button>
            </div>
          </div>
        </div>
        <!-- paginator -->
      </form>
    </div>
  </div>

</div>