<div class="main-content">
  <div class="page-filters">
    <form>
    <div class="filters">
      <div class="form-input">
        <label for="car" class="labelInput">Carro</label>
        <input
          type="text"
          id="car"
          name="car"
          [(ngModel)]="formData.car"
                 />
      </div>

      <div class="form-item">
        <label for="model" class="labelInput">Modelo</label>
        <input
          type="text"
          id="model"
          name="model"
          [(ngModel)]="formData.model"
                  />
      </div>

      <div class="form-item">
        <label for="perPage">Itens por pagina</label>
        <select id="perPage" name="perPage" [(ngModel)]="formData.perPage">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>

      <div class="form-item">
        <button class="btn-filter" (click)="fetchCars(1)">
          Aplicar Filtros
        </button>
      </div>
    </div>
  </form>
    <!-- simbolo de loading -->
    <div *ngIf="isLoad" class="loader-container">
      <span class="loader"></span>
    </div>
  <!-- tablE results -->
  <div class="page-content">
    <div class="table-result">
      <table class="responsive-table" id="customers">
        <tr>
          <th>Carro</th>
          <th>Modelo</th>
          <th>Ano de fabricação</th>
          <th colspan="2" class="action">Ação</th>
        </tr>
        <tr *ngFor="let car of cars">
          <td>{{ contentLength(car.car) }}</td>
          <td>{{ contentLength(car.model) }}</td>
          <td>{{ car.year_manufacture }}</td>
          <!-- <td class="status">
            <span
              class="statusDot"
              [ngClass]="{
                active: car.status === 'Ativo',
                inactive: user.status === 'Inativo'
              }"
            ></span>
            {{ user.status }}
          </td> -->
          <td>
            <button class="btn-action">
              <img
                src="../../../../assets/icones/view.svg"
                alt="Visualizar"
                class="view"
              />
            </button>

            <button class="btn-action">
              <img
                src="../../../../assets/icones/edit.svg"
                alt="Editar"
                class="edit"
              />
            </button>
          </td>
        </tr>
      </table>
      <!-- paginação  -->
      <div class="pagination">
        <div>
          <span
            >Total: <b>{{ totalCars }} </b>
          </span>
          <span
            >Paginas: <b>{{ totalPages }} </b>
          </span>
        </div>
        <div class="buttons">
          <button
            class="btn-pagination"
            [disabled]="currentPage === 1"
            (click)="fetchCars(this.currentPage - pagination)"
          >
            <
          </button>
          {{ currentPage }}
          <button
            class="btn-pagination"
            [disabled]="currentPage === totalPages"
            (click)="fetchCars(this.currentPage + pagination)"
          >
            >
          </button>
        </div>
      </div>
    </div>
  </div>
     
  </div>
</div>
